@model ChatApp.Models.AllMessagesModel
@{
    ViewData["Title"] = "Home Page";
}


@foreach (var item in Model.messages)
{
    <p><span style="font-weight:bold">@item.Author:</span> @item.Text</p>
    <hr>
}
<div class="text-center">
@Html.ActionLink("Send Message", "Submit", "Home")
 </div>
